*~
*#
#*
.#*
/data/
dataverse/data/
/info/
*.csv
*.dta
*.log
*.out
*.aux
*.bbl
*.blg
*.tar.gz
*.fdb_latexmk
*.synctex.gz 
*.nav
*.snm
*.toc
*.el
*.bib.bak
*.Rdata
*.rds
*.ps

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData 

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
